* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: beige;
  line-height: 2rem;
  font-size: 1.5rem;
}
/* setting header with navigation */
header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav{
  display: flex;
  flex-shrink: 1;
}
header img {
  height: 100px;
  border: 1px solid rgb(4, 5, 87);
  border-radius: 5px;
  box-shadow: -2px 2px rgb(62, 65, 218);
  margin: 20px;
  margin-bottom: 0;
}
header nav a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 3rem;
}
header nav a:visited{
    color: rgb(31, 16, 16);
}
header nav a:hover{
    color: blue;
}
header nav a:active{
    color: rgb(27, 104, 27);
}
/* setting first section */
main {
  width: 100%;
  height: 90%;
  max-width:1000px;
  margin: 50px auto;
}
.intro {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 17vh;
    margin: 5vh auto;
    align-items: center;
}
.intro input{
    height: 4vh;
    width: 40vmin;
    font-size: 1rem;
    margin: 30px 0px 20px;
}
.intro button{
    width: 90px;
    height: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(248, 224, 164);
    margin: 10px;
    position: relative;
    left: 15vmin;
    border: 1px solid rgb(58, 43, 5);
    box-shadow: 1px 1px gold;
    border-radius: 5px;
}
.intro a{
  text-decoration: none;
}
.intro a:visited{
  color: darkblue;
}
.intro button a:hover{
  color: brown;
}
.intro button a:focus{
  background-color: aquamarine;
}
#feature div{
    display: inline;
}
#feature {
  margin-top: 12vh;
}
#feature img {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px 30px 20px 0px;
}
#feature div p{
  margin-bottom: 7vh;
}
/* insert video */
 iframe{
  width: 90vw;
  height: 40vh;
  margin-left: 5vw;
  margin-bottom: 5vh;
  max-width: 600px;
}
/* setting price section */
#price {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
  
#price div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 40vh;
  border: 1px dashed rgb(110, 75, 8);
  line-height: 2rem;
  position: relative;
  flex: 1;
}
#price h3:first-child{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(223, 219, 219);
  width: 100%;
  height: 50px;
  align-items: flex-start;
  text-align: center;
 position: relative;
  padding: 10px;
  margin-top: 0;
  font-size:  clamp(1.2rem,0.8rem + 1vw, 2rem) ;
}
#price h3:nth-child(2){
  margin-top: 2rem;
}
#price p{
  width: 50%;
  text-align: center;
  margin: 1.5rem 0;
  font-size:  clamp(1rem,0.9rem + 1vw, 1.5rem) ;
  flex: 1;
}
#price div button{
  width: 100px;
  height: 30px;
  font-size: 1.1rem;
  background-color: rgb(110, 106, 109);
  color: rgb(217, 231, 156);
  margin-bottom: 2rem;
}
@media  (min-width: 564px) { 
  #price{
    display: flex;
    flex-direction: row;

  }  
  iframe{
    width: 60vw;
    height: 40vh;
    margin-left: 17vw;
    margin-bottom: 10vh;
  }
  
  }
  @media screen and (min-width: 765px) {
    iframe{
      margin-left: 10vw;
    }
  }

footer nav {
  display: flex;
  justify-content: flex-end;
}
footer nav ul, footer nav ul li{
    display: inline-block;
}
footer a{
    text-decoration: none;
    color: black;
}
footer nav a:visited{
  color: rgb(31, 16, 16);
}
footer nav a:hover{
  color: blue;
}
footer nav a:active{
  color: rgb(27, 104, 27);
}
footer {
    background-color: rgb(243, 236, 197);
    width: 57vw;
  text-align: right;
  margin: 20px auto;
  padding: 10px;
}
